<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

 <mapper namespace="dao.UserDao">
 	<select id="findByName" parameterType="String" resultType="entity.User">
 		SELECT * FROM cn_user WHERE cn_user_name=#{name}
 	</select>
 	<insert id="save" parameterType="entity.User">
 		INSERT INTO cn_user (cn_user_id, cn_user_name, cn_user_password, cn_user_token, cn_user_nick) 
 			VALUES(#{cn_user_id}, #{cn_user_name}, #{cn_user_password}, #{cn_user_token}, #{cn_user_nick})
 	</insert>
 </mapper>